body{
    background-image: url(https://img.freepik.com/vector-premium/fondo-acuarela-verde-pastel-textura-grunge-pintura-arte-digital_72315-47.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
h1{
    color:#cdcd76;
    font-family:'Abril Fatface',serif;
    text-align: center;
}
 .phrase{
    font-weight:100;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    color: white;

}
img{
    width: 200px;
    border-radius: 20px;
    border: solid;
    color: #839074;
}
p{
    font-family: 'Xanh Mono', monospace;;
}
form{
    background-color: #cdcd76;
}
button{
    width: 50px;
    height: 30px;
    background: #939e78;

}
li{
    font-weight: bold;
}